code {
    background: lightgreen;
}

#ultra-condensed {
    font-stretch: ultra-condensed;
}

#extra-condensed {
    font-stretch: extra-condensed;
}

#semi-condensed {
    font-stretch: semi-condensed;
}

#normal {
    font-stretch: normal;
}

#semi-expanded {
    font-stretch: semi-expanded;
}

#expanded {
    font-stretch: expanded;
}

#extra-expanded {
    font-stretch: extra-expanded;
}

#ultra-expanded {
    font-stretch: ultra-expanded;
}
