body {
    height: 200vh;
}

div {
    margin-bottom: 30px;
}

.example {
    width: 300px;
    height: 300px;
    margin: 10px;
    background-image: url("../images/background-01.png");
    background-size: 1000px;
    border: 2px solid red;
    overflow: auto;
}

#fixed {
    background-attachment: fixed;
}

#scroll {
    background-attachment: scroll;
}

#local {
    background-attachment: local;
}
