code {
    background: lightgreen;
}

.exemplo {
    width: 200px;
    background-color: greenyellow;
}

span {
    background-color: seagreen;
    color: white;
}

#nowrap {
    white-space: nowrap;
}

#pre {
    white-space: pre;
}

#pre-line {
    white-space: pre-line;
}

#pre-wrap {
    white-space: pre-wrap;
}

#break-spaces {
    white-space: break-spaces;
}
